*{
    font-family: Arial;
}
body{
    margin:0;
    padding: 0;
    
}
header{
    display: flex;
    height: 120px;
    justify-content: center;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 990px;
  

}
.logo{

 display: flex;
 align-items: center;


}
.menu{
   
    display: flex;
    align-items: center;
    
}
nav ul, nav li{
    list-style: none;
    margin: 0;
    padding: 0;
   
}
nav ul{
    display: flex;
    
}
nav a{
   
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial;
    color: grey ;
}
nav .active a, a:hover {
    background-color: #39aae1;
    color: white;
}
#banner{
    background-image: url('../images/img1.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;
    display: flex;
    justify-content: center;
}
.column{
    flex-direction: column;
}
.banner_headline{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner_headline h1{
    color: white;
    font-size: 55px;
    text-shadow: 0px 1px 1px #555;
    max-width: 350px;
    margin: 0;
    padding: 0;

}
.banner_headline h2{
    color: white;
    font-size: 19px;
    text-shadow: 0px 1px 0px #555;
    margin: 0;
    padding: 0;
    max-width:  300px;

}
.banner_options{
    height: 210px;
    display: flex;
}
.banner1,.banner2, .banner3{
    flex:1;
    color: white;
    padding: 20px;


}
.banner1{
    background-color: #39aae1;
}
.banner2{
    background-color: #0079c7;
}
.banner3{
    background-color: #2b4c99;
    
}
.banner_title{
   font-size: 21px;
}
.banner_desc{
    font-size: 15px;
    margin-top: 20px;

}
.banner_options a {
    display: inline-block;
    border: 1px solid white;
    padding: 5px;
    color: white;
    font-size: 13px;
    text-decoration: none;

}
.banner3 a{
    border: none;
    display: flex;
    border-bottom: white;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    
}
.banner3 div{
    flex-direction: row; 
    padding: 5px;
    border-bottom: white;
    
    
}

#geral{
    display: flex;
    justify-content: center;
}
#geral section{
    flex: 2;
}
#geral aside{
    flex: 1;

}
.widget_title{
    margin-top: 30px;
    margin-bottom: 20px;
}
.widget_title_text{
    color: #000;
    font-size:21px ;
    font-weight: bold;
}
.widget_title_bar{
    width: 50px;
    height: 3px;
    background-color: #36a9e1;
    margin-top: 10px;

}
.widget_body {
    display: flex;
   
   
}
.widget_body_div{
    height: 400px;
    width: 200px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.square{
    padding: 7px;
    height: 80px;
    width: 80px;
    border: 1px solid white;
    background-color: #36a9e1;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;

}
article a {
    text-decoration: none;
}
article .news_data{
    display: flex;

}
article .news_posted_at{
    background-color: #2b4c99;
    color: #fff;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;

}
article .news_coments{
    background-color: #36a9e1;
    color: #fff;
    font-size: 12px;
    padding: 10px;
}
article .news_thumbnail{
    margin-top: 30px;
}
article .news_thumbnail img{
    width: 100%;
    height: auto;

}
article .news_title{
    margin-top: 25px;
    margin-bottom: 25px;
    color: black;   
    font-size: 23px;
}
article .news_resumo{
 color: grey;
 font-size: 14px;
 line-height: 21px;
}
footer{
    display: flex;
    background-color: #1e1e1e;
    justify-content: center;

}
.footer_menu{
  display: flex;
  flex: 1;
  background-color: #1e1e1e;
  
 
}
.fm_1, .fm_2, .fm_3{
  flex: 1;
    color: #fff;
    padding: 20px;
    font-size: 12px;

}
.fm_1{
    background-color: #39aae1;
   
    
}
.fm_2{
    background-color: #0079c7;
}
.fm_3{
    background-color: #2b4c99;
    
}
.footer_area{
    display: flex;

    
}
.areaitem{
    flex: 1;
    color: white;
}
.flexColumn{
    flex-direction: column;
}
footer .widget_title_text{
    color: white;
}
.footer_copy{
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 30px;
}
.footer_menu a {
    
}